.ganttee-form {
  display: flex;
  gap: var(--vscode-spacing-size120, 12px);
  flex-direction: column;

  .ganttee-form__row {
    display: flex;
    gap: var(--vscode-spacing-size80, 8px);

    .ganttee-form-field {
      flex: 1 1 0;
    }
  }

  hr {
    width: stretch;
    border-top: var(--vscode-strokeThickness, 1px) solid var(--vscode-panel-border);
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  fieldset {
    padding: var(--vscode-spacing-size80, 8px);
    border: var(--vscode-strokeThickness, 1px) solid var(--vscode-panel-border);
    border-radius: var(--vscode-cornerRadius-medium, 6px);
    display: flex;
    flex-direction: column;
    gap: var(--vscode-spacing-size120, 12px);

    legend {
      padding: 0 var(--vscode-spacing-size40, 4px);
      color: var(--vscode-descriptionForeground);
      font-size: var(--vscode-fontSize-label1, 12px);
    }
  }
}
