.ganttee-common-text-fields {
  display: contents;
}

.ganttee-status-select {
  .ganttee-status-option {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 1rem;

    .ganttee-status-color {
      height: 1em;
      width: 1em;
      display: inline-block;
      border: 1px solid var(--vscode-disabledForeground);
      margin-right: 0.5em;
      border-radius: var(--vscode-cornerRadius-small, 4px);
    }
    .ganttee-status-name {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
